
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    background-color:rgb(87, 87, 87);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom-style: groove;
    border-color:rgb(141, 231, 231);
    border-width: 5px;
    
}
#nav-link{
    background-color: rgb(87, 87, 87);
    font-size: 30px;
    padding-inline: 5%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow: auto;
    text-decoration: none;
    font-family: Acme;
    color: rgb(141, 231, 231);
}
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(141, 231, 231);
    margin: 0px;
    margin-left 0px;
    width: 100vw;
    border-bottom-style:outset;
    border-color:rgb(141, 231, 231);
    border-width: 4px;
}
h1 {
    font-size: 75px;
    font-family: Acme;
    color: black;
}
h2 {
    font-family: Acme;
    color:rgb(141, 231, 231);
    font-size: 35px;
}
#projects {
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
#project-section {
    display: flex;
    flex-direction: row;
}
#contact {
    padding-bottom: 50px;
}
body {
    background-color: rgb(87, 87, 87);
}
@media only screen and (max-width: 600px) {
    navbar {
        position: fixed;
        max-width: 25%;
        margin-left: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    section {
        margin-left: 100px;
        margin-top: 0px;
        
    }
    h1 {
        width: 75vw;
        margin-left: 25vw;
        font-size: 45px;
    }
    #projects {
        width: 75vw;
        margin-left: 25vw;
    }
    #contact {
        width: 75vw;
        margin-left: 25vw;
    }
}